

.parent {
  margin: 0;
  padding: 0;
  background-size: contain; 
  background-position: cover;
  background-repeat: no-repeat;
  height: 100%; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -4;
}



.img-basic-data-form {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 16rem;
  width: 100px;
  height: 100px;
  color: aliceblue;
  transition: transform 0.6s, background-color -10s; 
}
.img-basic-data-form:hover {
  content: ACA;
  color: aliceblue;
  transform: rotate(-25deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: 30px 200px 60px rgba(24, 0, 207, 0.746), 390px 280px 60px rgba(26, 255, 0, 0.746);
}

.img-clinical-history {
  margin-bottom: 29rem;
  margin-left: 7rem;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: -2;
  transition: transform 0.3s, background-color 3.9s; 
}

.img-clinical-history:hover {
  transform: rotate(-25deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow:  820px 460px 80px rgba(26, 255, 0, 0.837), 820px 460px 100px  rgb(60, 0, 255);
}

.img-monitoring {
  margin-top: -41rem;
  margin-bottom: 41.3rem;
  margin-left: 66rem;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: -2;
  transition: transform 0.3s, background-color 3.9s; 
}

.img-monitoring:hover {
  transform: rotate(45deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow:  -180px 390px 80px rgba(255, 132, 0, 0.9), -180px 390px  90px  rgb(255, 0, 191);
}



.img-informs {
  margin-top: -63rem;
  margin-bottom: 23rem;
  margin-left: 7rem;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: -2;
  transition: transform 0.3s, background-color 3.9s; 
}

.img-informs:hover {
  transform: rotate(-65deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow:  620px 620px 80px rgba(15, 0, 228, 0.971), 620px 620px 89px  rgb(255, 255, 255);
}

.img-editing {
  margin-top: -63rem;
  margin-bottom: 20rem;
  margin-left: 64rem;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: -2;
  transition: transform 0.3s, background-color 3.9s; 
}

.img-editing:hover {
  transform: rotate(65deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow:  -420px 720px 80px rgb(10, 0, 152), -420px 710px 100px  rgb(201, 8, 8);
}

.img-settings {
  margin-top: -68rem;
  margin-bottom: 35rem;
  margin-left: 66rem;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: -2;
  transition: transform 0.3s, background-color 3.9s; 
}

.img-settings:hover {
  
  transform: rotate(65deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow:  -180px 320px 80px rgba(255, 255, 255, 0.863), -180px 320px 80px   rgba(248, 204, 10, 0.409);
}