.parent {
  margin: 0;
  padding: 0;
  margin-top: 2%;
  background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.img-create-user,
.title-create-user,
.img-clinical-history,
.title-clinical-history,
.img-trackings,
.title-trackings, 
.img-informs, 
.img-editing, 
.title-informs,
.img-wsp,
.img-settings {
  position: relative;
  width: 37%;
  transition: transform 0.6s, background-color 0.6s;
}


.img-create-user {
  width: 37%;
  margin-top: 8%;
  margin-left: 108%;
}

.title-create-user {
  width: 1%;
  margin-top: -158%;
  margin-right: -118%;
  opacity: 0;
  transform: perspective(500px) rotateY(0);
  transition: opacity 0.6s, transform 0.6s, width 0.6s, color 0.6s;
}

.img-create-user:hover {
  transform: rotate(-25deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: 30px 200px 100px rgba(24, 0, 207), 300px 320px 100px rgba(26, 230, 0);
}

.img-create-user:hover + .title-create-user {
  opacity: 1;
  transform: translate3d(190%, 580%, 0px);
  border-radius: 3px;
  width: 50%;
  filter: brightness(50%) saturate(100%) invert(87%) sepia(92%) saturate(1190%) hue-rotate(5deg) brightness(104%) contrast(104%);
}


.img-clinical-history {
  width: 37%;
  margin-top: 36%;
  margin-left: -38%;
}

.title-clinical-history {
  width: 1%;
  margin-bottom: 7%;
  margin-right: 7%;
  opacity: 0;
  transform: perspective(500px) rotateY(0);
  transition: opacity 0.6s, transform 0.6s, width 0.6s, color 0.6s;
}

.img-clinical-history:hover {
  transform: rotate(-25deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: 220px 200px 80px rgba(238, 255, 0), 410px 280px 100px rgb(255, 0, 225);
}

.img-clinical-history:hover + .title-clinical-history {
  opacity: 1;
  transform: translate3d(240%, 235px, 10px);
  border-radius: 3px;
  width: 60%;
  filter: brightness(50%) saturate(100%) invert(87%) sepia(92%) saturate(1190%) hue-rotate(85deg) brightness(104%) contrast(104%);
}

.img-trackings {
  margin-top: 79%;
  margin-left: -160%;
  width: 37%;
}

.title-trackings {
  width: 1%;
  opacity: 0;
  transform: perspective(500px) rotateY(0);
  transition: opacity 0.6s, transform 0.6s, width 0.6s, color 0.6s;
}

.img-trackings:hover {
  transform: rotate(-52deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: 230px 280px 100px rgba(255, 0, 0), 300px 320px 100px rgba(0, 255, 247);
}

.img-trackings:hover + .title-trackings {
  opacity: 1;
  transform: translate3d(243%, 210%, 1px);
  border-radius: 3px;
  width: 70%;
  filter: brightness(50%) saturate(100%) invert(87%) sepia(92%) saturate(1190%) hue-rotate(1000deg) brightness(104%) contrast(104%);
}


.img-informs {
  width: 37%;
  margin-top: 126%;
  margin-left: -245%;
}

.title-informs {
  width: 1%;
  opacity: 0;
  transform: perspective(500px) rotateY(0);
  transition: opacity 0.6s, transform 0.6s, width 0.6s, color 0.6s;
}


.img-informs:hover {
  transform: rotate(-55deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: 280px 180px 80px rgb(252, 40, 103), 270px 320px 100px rgb(0, 165, 2);
}

.img-informs:hover + .title-informs {
  width: 50%;
  opacity: 1;
  transform: translate3d(339%, -140%, 0);
}

.img-editing {
  width: 37%;
  margin-top: 9%;
  margin-left: 101%;
}

.title-editing {
  width: 1%;
  opacity: 0;
  transform: perspective(500px) rotateY(0);
  transition: opacity 0.6s, transform 0.6s, width 0.6s, color 0.6s;
}

.img-editing:hover {
  transform: rotate(25deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: -312px 290px 100px rgb(90, 0, 192), -160px 320px 100px rgb(96, 255, 183);
}

.img-editing:hover + .title-editing {
  opacity: 1;
  width: 80%;
  transform: translate3d(-200%, 410%, 1px);
  filter: brightness(50%) saturate(100%) invert(87%) sepia(92%) saturate(1190%) hue-rotate(330deg) brightness(104%) contrast(104%);
}

.img-wsp {
  width: 37%;
  margin-top: 48%;
  margin-left: 31%; 
}

.title-wsp {
  width: 1%;
  opacity: 0;
  transform: perspective(500px) rotateY(0);
  transition: opacity 0.6s, transform 0.6s, width 0.6s, color 0.6s;
}

.img-wsp:hover {
  transform: rotate(-52deg) translate3d(0, -5px, 0) scale(1.2);
  box-shadow: -21rem -240px 100px rgba(255, 0, 0), -410px -240px 100px rgba(0, 255, 247);
}

.img-wsp:hover + .title-wsp {
  opacity: 1;
  width: 80%;
  transform: translate3d(-260%, 540%, 1px);
  filter: brightness(50%) saturate(100%) invert(87%) sepia(92%) saturate(1190%) hue-rotate(90deg) brightness(104%) contrast(104%);
}

