.containerNavbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  padding: 5px;
  background-color: #242424d6;
  border-radius: 5px;
}



.img-create-user,
.img-clinical-history,
.img-trackings, 
.img-informs, 
.img-editing, 
.img-wsp,
.img-various,
.img-settings { 
  width: 18%;
  margin-right: 25%; 
  margin-left: 25%; 
  transition: transform 0.6s, background-color 0.6s;
}

.title {
  width: 10vw;
  height: 10vh;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  transition: opacity 0.6s, bottom 0.6s;
}



.img-trackings:hover {
  transform:  scale(1.4);
  box-shadow: 22rem 1rem 4rem rgba(255, 0, 0), 19rem 14rem 2rem rgba(0, 255, 247, 0.492);
  filter: drop-shadow(0 0 5px rgba(26, 255, 0, 0.4));
}

.img-trackings:hover + .title {
  opacity: 1;
  bottom: 28%; 
  filter: drop-shadow(0 0 5px rgba(26, 255, 0, 0.4));
}