
.containerNavbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  height: 10.5%;
  background-color: rgb(214, 13, 13);
}


.img-create-user,
.img-clinical-history,
.img-trackings, 
.img-informs, 
.img-editing, 
.img-wsp,
.img-settings, 
.img-various {
  width: 35%;
  transition: transform 0.6s, background-color 0.6s;
}

.title-create-user,
.title-clinical-history,
.title-trackings, 
.title-informs,
.title-editing,
.title-wsp, 
.title-settings {
  display: none;
}

